html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    height: auto;
    max-width: 100%;
}

input {
    @extend .truncate;
}

label {
    cursor: pointer;
    user-select: none;
}

textarea {
    resize: vertical;
}

ul {
    @include list-reset;
}

:focus {
    @include placeholder {
        color: transparent;
    }
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe,
    object,
    embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $container-width;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
}

.site-content {
    flex: 1 0 auto;
}
