@mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin center($position: 'both') {
    position: absolute;

    @if $position=='vertical' {
        top: 50%;
        transform: translateY(-50%);
    }

    @else if $position=='horizontal' {
        left: 50%;
        transform: translate(-50%);
    }

    @else if $position=='both' {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }

    @include optional-at-root('::placeholder') {
        @content;
    }
}

@mixin font-face($family, $src, $weight: normal, $style: normal, $display: swap) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.woff2') format('woff2'),
        url('#{$src}.woff') format('woff');
        font-display: $display;
        font-style: $style;
        font-weight: $weight;
    }
}

@mixin breakpoint-down($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin breakpoint-up($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
